.app{
    display: flex;
    flex-direction: column;
    max-width: 1500px;
    gap: 10px; 
}

.page-anchor{
    display: inline-flex;
    background-color: orangered;
    color: white;
    padding: 15px 10px; 
    border-radius: 4px;
}

.page-anchor:hover {
    background-color: crimson;
}

.page-anchor:active {
    background-color: crimson; 
}

.page-anchor-active {
    background-color: crimson; 
}

.header{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px; 
}