<div class="dropdown-wrapper">
    <button class="menu-button" (click)='isOpen.set(!isOpen())' i18n>აირჩიეთ ადგილი</button>
    @if (isOpen()) {
        <div class="options-container" (clickOutside)="isOpen.set(false)">
            @for (location of locations; track location.name) {
                <div 
                    class="option"
                    (click)='isOpen.set(false); setLocation(location.name);'>
                    {{location.displayName}}
                </div> 
            }
        </div>
    }
</div>
